In [1]:
import pandas as pd
from pathlib import Path

## Load and concat CSVs

In [35]:
range_keys = [
    (50, 249),
    (250, 449),
    (450, 650),
    (640, 850),
    (840, 1050),
]
paths = {
    (50, 249) : Path(
        r"C:\Users\cgusb\Research\mhe-analysis\data\IDOX_prill_1"
        r"\IDOXprill_1_IDOXpucks_voidThreshold_50-249_properties.csv"),
    }

dir_path = Path(r"C:\Users\cgusb\Research\mhe-analysis\data\IDOX_prill_1")
paths = {}
dfs = []
lengths = []
for i in range(len(range_keys)):
    paths[range_keys[i]] = (
        Path(dir_path) / r"IDOXprill_1_IDOXpucks_voidThreshold_"
        fr"{range_keys[i][0]}-{range_keys[i][1]}_properties.csv"
    )
    df = pd.read_csv(paths[range_keys[i]])
    df.insert(0, 'range_0', [range_keys[i][0]]*df.shape[0])
    df.insert(1, 'range_1', [range_keys[i][1]]*df.shape[0])
    dfs.append(df)
    lengths.append(df.shape[0])
df = pd.concat(dfs)
assert df.shape[0] == sum(lengths)
print(df.shape[0])
path_concat = Path(dir_path) / 'IDOX_prill_1_concat'
df.to_csv(path_concat, index=False)

195123

In [37]:
df = pd.read_csv(path_concat)
print(df.shape[0])
df.tail()

195123

,range_0,range_1,particleID,n_voxels,n_voxels_post_erosion,centroid,slice_min,slice_max,row_min,row_max,...,col_max,meshed,stl_x_min,stl_x_max,stl_y_min,stl_y_max,stl_z_min,stl_z_max,stl_is_watertight,stl_volume
195118,840,1050,60102,2.0,NaN,"1124, 1980, 209",209,210,1980,1981,...,1125,False,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.000000
195119,840,1050,60103,4.0,NaN,"1002, 1984, 209",209,210,1984,1986,...,1004,False,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.000000
195120,840,1050,60104,2.0,NaN,"1070, 1984, 209",209,210,1984,1985,...,1071,False,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.000000
195121,840,1050,60105,3.0,NaN,"902, 1985, 209",209,210,1985,1987,...,904,False,NaN,NaN,NaN,NaN,NaN,NaN,False,-1.000000
195122,840,1050,60106,77.0,NaN,"1028, 36, 1",0,4,34,41,...,1033,True,829.55695,836.85156,27.152084,32.825653,680.42316,683.66516,True,37.203985