In [1]:
import pandas as pd
from pathlib import Path

## Load and concat CSVs

In [4]:
range_keys = [
    (50, 249),
    (250, 449),
    (450, 650),
    (640, 850),
    (840, 1050),
]

dir_path = Path(r"C:\Users\gusb\Research\mhe-analysis\data\IDOX_prill_1")
paths = {}
dfs = []
lengths = []
for i in range(len(range_keys)):
    paths[range_keys[i]] = (
        Path(dir_path) / r"IDOXprill_1_IDOXpucks_voidThreshold_"
        fr"{range_keys[i][0]}-{range_keys[i][1]}_properties.csv"
    )
    df = pd.read_csv(paths[range_keys[i]])
    df.insert(0, 'range_0', [range_keys[i][0]]*df.shape[0])
    df.insert(1, 'range_1', [range_keys[i][1]]*df.shape[0])
    dfs.append(df)
    lengths.append(df.shape[0])
df = pd.concat(dfs)
assert df.shape[0] == sum(lengths)
print(df.shape[0])
path_concat = Path(dir_path) / 'IDOX_prill_1_concat.csv'
df.to_csv(path_concat, index=False)

195123

In [6]:
df = pd.read_csv(path_concat)
print(df.shape[0])
df.head()

195123

,range_0,range_1,particleID,n_voxels,n_voxels_post_erosion,centroid,slice_min,slice_max,row_min,row_max,...,col_max,meshed,stl_x_min,stl_x_max,stl_y_min,stl_y_max,stl_z_min,stl_z_max,stl_is_watertight,stl_volume
0,50,249,2,14494.0,NaN,"883, 537, 6",0,27,515,566,...,908,True,699.87537,735.53780,417.00740,458.34338,40.120243,62.004013,True,7687.004387
1,50,249,3,14015.0,NaN,"962, 536, 9",0,28,517,565,...,985,True,767.14770,797.94710,418.62842,457.53290,40.120243,62.814520,True,7436.799888
2,50,249,4,271480.0,NaN,"815, 568, 18",0,52,505,625,...,898,True,596.13007,727.43270,408.90228,506.16348,40.120243,82.266760,True,144439.379941
3,50,249,5,982.0,NaN,"931, 575, 4",0,12,566,587,...,939,True,747.69543,760.66364,458.34338,475.36410,40.120243,49.846363,True,514.142512
4,50,249,6,477492.0,NaN,"975, 605, 24",0,70,541,687,...,1055,True,734.72730,854.68280,438.08066,556.41510,40.120243,96.855940,True,254113.304870

In [ ]:
test = df[:5]
test.centroid.str.split(', ').tolist()

[['883', '537', '6'],
 ['962', '536', '9'],
 ['815', '568', '18'],
 ['931', '575', '4'],
 ['975', '605', '24']]

In [14]:
test = df[:5]
test[['centroid_x', 'centroid_y', 'centroid_z']] = pd.DataFrame(
    test.centroid.str.split(', ').tolist(), index=test.index)

C:\Users\gusb\AppData\Local\Temp\ipykernel_7412\2899644183.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[['centroid_x', 'centroid_y', 'centroid_z']] = pd.DataFrame(
C:\Users\gusb\AppData\Local\Temp\ipykernel_7412\2899644183.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[['centroid_x', 'centroid_y', 'centroid_z']] = pd.DataFrame(
C:\Users\gusb\AppData\Local\Temp\ipykernel_7412\2899644183.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  test[['centroid_x', 'centroid_y', 'centroid_z']] = pd.DataFrame(